:root {
    --lime-green: #32CD30;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    background-color:#e9f7f1;
}


/* HOME Page Styles */
.main-container {
    color: #2C5E1A;
}

.home-container {
    height: 100vh;
}

.to-do-color {
    color:var(--lime-green);
}

.register-now-btn {
    margin-top: 2.5rem;
    font-size: larger;
}


/* REGISTER Page Styles */
.form-input {
    margin-bottom: 1rem;
}

.register-form {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-title {
    margin-bottom: 1rem;
    color: #32CD30;
}

.sign-up-btn {
    font-size: larger;
}


/* LOGIN Page Styles */
.login-and-register-form {
    width: 21rem;
    border: 2.5px solid var(--lime-green);
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 30px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
}

.log-in-box {
    margin-top: 2rem;
    padding: 0.5rem;
}

.login-title {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    color: rgba(0, 0, 0, 0.4); 
}

.register-link {
    color: var(--lime-green);
    font-weight: 700;
    text-decoration: none;
}

.register-link:hover {
    color: #428828;
    cursor: pointer;
}